# file: ~/.gitignore_global
.DS_Store
.idea
.classpath
.project
.settings
output/tc/
*.iml
*.properties
#ignore folder
target/
test-output/
src/main/java/utils/AppiumServer.java
src/main/java/utils/CommonUtils.java